# Firebase Admin SDK
# Path to your Firebase service account JSON key (Local)
FIREBASE_SERVICE_ACCOUNT_PATH=../careerpilot-9cac6-firebase-adminsdk-fbsvc-e6d708f22a.json

# Production / Cloud hosting single-line JSON string
FIREBASE_SERVICE_ACCOUNT_JSON=

# Server configuration
PORT=3000

# Comma-separated list of allowed frontend origins
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

# Compiler configuration
GXX_PATH=g++
GCC_PATH=gcc
JAVA_PATH=java
JAVAC_PATH=javac
PYTHON_PATH=python3

# Redis configuration (Upstash / Local)
REDIS_URL=rediss://default:token@host.upstash.io:6379
REDIS_HOST=host.upstash.io
REDIS_PORT=6379
UPSTASH_REDIS_REST_URL=https://host.upstash.io
UPSTASH_REDIS_REST_TOKEN=token
